$blueMain500: #3F9BBF;
$blueMain400: rgba(63, 155, 191, 0.911);
$blueMain300: rgba(63, 155, 191, 0.405);
$blueMain200: rgba(63, 155, 191, 0.19);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

.text-modern {
    font-weight: bold;
    font-family: 'Gilroy';
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

[data-label="wishlistItems"] {
    table, .table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
        
        tr > th, .tr > .th, .table-head > .th {
            padding: 20px 0px 20px 20px;
            text-align: left;
            font-weight: bold;
            font-family: 'Gilroy';
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        tr > td, .tr > .td {
            text-align: left;
            padding: 20px 0px 20px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .tr, .table-head {
            display: flex;
            text-decoration: none;
            background-color: $blueMain200;
            border-radius: 9px;
            transition: all .3s ease;
            
            &:hover {
                background-color: $blueMain300;
            }
        }
        
        .table-head {
            background-color: transparent;
            
            &:hover {
                background-color: inherit;
            }
        }
    }
}

[data-label="contextMenu"] {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: fit-content;
    height: fit-content;
    padding: 17px 20px;
    border-radius: 9px;
    background-color: white;
    z-index: 100;
    
    box-shadow: 0 1px 1px rgba(0,0,0,0.07), 
              0 2px 2px rgba(0,0,0,0.07), 
              0 4px 4px rgba(0,0,0,0.07), 
              0 8px 8px rgba(0,0,0,0.07);
            //   0 16px 16px rgba(0,0,0,0.07);
    
    &.hidden {
        display: none;
    }
    
    &.shown {
        display: block;
    }
    
    * {
        @extend .text-modern;
        cursor: pointer;
    }
    
    .contextMenu-item {
        margin: 15px 0px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(199, 199, 199);
        
        &:first-child {
            margin-top: 0px;
        }
        
        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
}